node_modules
coverage
docs/examples/files/holder.csv
docs/examples/files/test.csv
docs/problems/csv_check/file/data.csv
docs/problems/csv_check/file/data_error.csv
docs/problems/csv_clone/file/data_clone.csv
docs/problems/csv_clone/file/data.csv
